html {
	
	--background-theme: #fff;
	--border-theme: #ccc;
}
* {
	margin: 0;
	padding: 0;
}
.products {
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	background-color: var(--background-theme);
	border: 1px solid var(--border-theme);
	border-radius: 5px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
	.products__head {
		width: 100%;
		height: 60px;
		flex-shrink: 0;
		background-color: var(--border-theme);
		position: relative;
	}
	.products__content-wrapper{
		width: 100%;
		height: 100%;
		padding: 5%;
		box-sizing: border-box;
		overflow: hidden;
	}
		.products__content {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			overflow-y: scroll;
		}
			.product {
				width: 21%;
				height: 200px;
				background-color: var(--background-theme);
				border: 1px solid var(--border-theme);
				border-radius: 5px;
				margin-right: 4%;
				margin-bottom: 5%;
				box-sizing: border-box;
			}